<!--mobilemenu-->
  <div class="mobile-menu">
    <div class="mobile_menu">
    <ul>
      {%- for link in linklists[section.settings.main_linklist].links -%}
        {%- if link.links != blank -%}
          <li>
            <a href="#">{{ link.title | escape }}</a>
            <ul class="submenu">
              {%- for childlink in link.links -%}
              {%- if childlink.links != blank -%}
                {% for grandchildlink in childlink.links %}
                  <li><a class="link-{{ grandchildlink.title | escape | handleize }}" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a></li>
                  {% endfor %}
                {%- else -%}
                <li><a class="link-{{ childlink.title | escape | handleize }}" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </li>
        {%- else -%}
          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      {% if shop.customer_accounts_enabled %}
          <li>
            {% if customer %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% else %}
              <a href="/account/login">{{ 'layout.customer.log_in' | t }}</a>
            {% endif %}
          </li>
      {% endif %}
      <li><a href="#swym-wishlist">Wishlist</a></li>
      {%- for link in linklists['mobile-extras'].links -%}
      	<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
      {%- endfor -%}
      <li><a href="mailto:enquiries@suzannah.com?subject=Enquiry for Suzannah">Book Consultation</a></li>
      <li class="currency">
          <a href="#">Currency</a>
          <ul class="submenu">
            <li data-value="GBP"><a href="#">GBP</a></li>
            <li data-value="EUR"><a href="#">EUR</a></li>
            <li data-value="USD"><a href="#">USD</a></li>
          </ul>
      </li>
    </ul>
    <div class="mobile-foot-block d-block clearfix">
     <div class="row no-gutters">
      <div class="col-6">
       <ul class="mm-social">
        <li><a href="{{settings.social_pinterest_link}}"><img src="{{ "pinterest.svg" | asset_url }}" alt="pinterest"></a></li>
        <li><a href="{{settings.social_facebook_link}}"><img src="{{ "facebook.svg" | asset_url }}" alt="facebook"></a></li>
        <li><a href="{{settings.social_instagram_link}}"><img src="{{ "instagram.svg" | asset_url }}" alt="instagram"></a></li>
       </ul>
      </div>
      <div class="col-6">
       <ul class="mm-social right-link text-right">
        <li><a href="tel:{{ site_telephone  | replace: '+', '00' | replace: ' ', '' | replace: '(','' | replace: ')','' }}">{{ settings.site_telephone }}</a></li>
       </ul>
      </div>
     </div>
    </div>
  </div>
  </div>
<!--mobilemenu-->
