<div class="product-template__container page-width" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {%- assign total_images = product.images | size  -%}



  <div class="product-detail d-block clearfix">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-6 product-image-container">
      <div id="image-gallery-2">
        <img src="{{ 'arrow-left.svg' | asset_url }}" class="hide prev-img"/>
        <img src="{{ 'arrow-right.svg' | asset_url }}"  class="hide next-img"/>
      </div>
      <script>
        images_list = [];
        {% for image in product.images %}
          {% if image.alt != "beauty" %}
            window.images_list.push({
              small : '{{ image.src | product_img_url: 'small', scale: 2 }}',
              big : '{{ image.src | product_img_url: 'grande', scale: 2 }}'
            });
          {% endif %}
        {% endfor %}
      </script>
      <div class="grid product-single product-single--large-image container-imagery">
        <div class="thumbnail-wrapper">
          <ul class="thumbnails no-carousel hide">
            {% for image in product.images %}
            <li>
              <img class="thumbnail-image" src="{{ image.src | product_img_url: small }}" data-zoom="{{ image | img_url: 'master', scale: product_image_scale }}" data-itemcount="{{ forloop.index}}">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="main-carousel-wrapper">
          <div class="grid__item product-single__photos product-slider main-image-carousel" id="main-image-carousel">
            {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
            {% for image in product.images %}
              <div class="product-img-slide {% if enable_zoom %} js--zoom-enabled{% endif %}{% if forloop.last %} last-img-block{% endif %}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                <img src="{{ image | img_url: '10x10' }}" data-src="{{ image.src | img_url: 'master', scale: 2 }}"  data-imgcount="{{ forloop.index0 }}" data-high-res-src="{{ image.src | product_img_url: product_image_zoom_size, scale: product_image_scale }}" class="product-image product-featured-img product--img feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}{% unless forloop.first%} img-hide{% endunless%}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% comment %}
      <div class="grid product-single product-single--large-image">
        <div class="grid__item product-single__photos product-slider">
          {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
          {% for image in product.images %}
          <div class="product-img-slide{% if enable_zoom %} js-zoom-enabled{% endif %}{% if forloop.last %} last-img-block{% endif %}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img src="{{ image | img_url: '10x10' }}" data-src="{{ image.src | img_url: 'master', scale: 2 }}"   class="product-featured-img feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}{% unless forloop.first%} img-hide{% endunless%}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endcomment %}
    </div>
    {% comment %}
    <div class="col-12 col-sm-12 col-md-6{% if total_images > 1 %} d-flex flex-column{% endif %}">
      <div class="col-12 col-sm-12{% if total_images > 1 %} custom-flex-box{% else %} custom-box{% endif %}">
    {% endcomment %}
    <div class="col-12 col-sm-12 col-md-6">
      <div class="col-12 col-sm-12 custom-box">
        <div class="pd-detail position-sticky text-center m-auto">
          <h1 class="product-single__title">{{ product.title }}</h1>
          <div class="product__price">
             {% include 'product-price', variant: current_variant %}
          </div>
          {%- if section.settings.custom_txt != blank -%}
            <div class="bespoke-product-info">
              {{ section.settings.custom_txt }}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-cart-submit: 'data-cart-submit' %}
            {% comment %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label class="label--hidden d-none" for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="form-control single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}
            {% endcomment %}
            <div class="couture-product product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
              {%- if section.settings.include_product_title -%}
                {%- capture subject -%}{{ section.settings.enquiry_subject }}: {{ product.title }}{%- endcapture -%}
              {%- else  -%}
                {%- capture subject -%}{{ section.settings.enquiry_subject }}{%- endcapture -%}
              {%- endif -%}
              <a id="book_consultation" href="mailto:{{ section.settings.enquiry_email }}?subject={{ subject }}" class="btn btn-border">{{ 'products.product.book_consultation' | t }}</a>
              {% comment %}
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn-border  product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                  <span id="AddToCartText-{{ section.id }}">
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              {% endcomment %}
            </div>
          {% endform %}
          {% comment %}
            Live region for announcing updated price and availability to screen readers
          {% endcomment %}
          <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>
          <ul class="pd-link">
            {%- if section.settings.size_guide != blank and section.settings.size_guide_txt != blank -%}
              <li><a href="{{ section.settings.size_guide }}">{{section.settings.size_guide_txt}}</a></li>
            {%- endif -%}
                <li class="text-right">
                  <a class="contact_no" href="tel:{{ settings.site_telephone }}">{{ settings.site_telephone }}</a>
                </li>
          </ul>
          {%- if section.settings.return_txt -%}
          <p>{{ section.settings.return_txt }}
            {%- if section.settings.return_txt_cta != blank and section.settings.return_txt_url != blank -%}
              <a href="{{section.settings.return_txt_url}}" target="_blank">{{ section.settings.return_txt_cta }}</a>
            {%- endif -%}
          </p>
          {%- endif -%}
          {% if section.settings.show_share_buttons %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
        </div>
      </div>
      <div class="product-info mx-auto">
        {%- include 'product-description' -%}
      </div>
    </div>
  </div>
</div>

{%- if section.settings.show_lifestyle -%}
<div class="product-banner-block d-block clearfix">
  {%- if section.settings.lifestyle_cta_url != blank -%}
  <a href="{{ section.settings.lifestyle_cta_url }}">
  {%- endif -%}
  {% if section.settings.lifestyle_image != blank %}
    {% capture img_id %}LifeStyleImage-{{ section.id }}{% endcapture %}
    {% capture wrapper_id %}LifeStyleImageWrapper-{{ section.id }}{% endcapture %}
    {%- assign img_url = section.settings.lifestyle_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    {% include 'image-style' with image: section.settings.image, width: 1920, height: 820, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
    <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
      <div style="padding-top:{{ 1 | divided_by: section.settings.lifestyle_image.aspect_ratio | times: 100}}%;">
        <img id="{{ img_id }}"
        class="feature-row__image lazyload"
        src="{{ section.settings.lifestyle_image | img_url: '200x200' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ section.settings.lifestyle_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.lifestyle_image.alt | escape }}">
      </div>
    </div>

    <noscript>
      {{ section.settings.lifestyle_image | img_url: '1920x820', scale: 2 | img_tag: section.settings.lifestyle_image.alt, 'feature-row__image' }}
    </noscript>
  {% else %}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
  {%- if section.settings.lifestyle_cta_txt != blank -%}
    <h3>{{ section.settings.lifestyle_cta_txt}}</h3>
  {%- endif -%}
  {%- if section.settings.lifestyle_cta_url != blank -%}
  </a>
  {%- endif -%}
</div>
{%- endif -%}

{% include 'pdp-video'%}
{%- include 'ymal-product' -%}
</div>

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
{{ product | json }}
</script>
{% endunless %}

{% schema %}
{
  "name": "Bespoke Product",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "textarea",
      "id": "custom_txt",
      "label": "Info Text",
      "default": "Price is indicative based on fabric, detail and tailoring. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do."
    },
    {
      "type": "header",
      "content": "Call to Action"
    },
    {
      "type": "url",
      "id": "size_guide",
      "label": "Size Guide"
    },
    {
      "type": "text",
      "id": "size_guide_txt",
      "label": "Size Guide",
      "default": "Size Guide"
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "type": "text",
      "id": "enquiry_email",
      "label": "email",
      "default": "enquiries@suzannah.com"
    },
    {
      "type": "text",
      "id": "enquiry_subject",
      "label": "Subject",
      "default": "Enquiry for Suzannah"
    },
    {
      "type": "checkbox",
      "id": "include_product_title",
      "label": "Include product title in subject",
      "default": true
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "type": "text",
      "id": "contact_no",
      "label": "Contact No",
      "default": "(0)207 258 0782"
    },
    {
      "type": "header",
      "content": "Return Block"
    },
    {
      "type": "text",
      "id": "return_txt",
      "label": "Return Text",
      "default": "Try it on at home and return for free."
    },
    {
      "type": "text",
      "id": "return_txt_cta",
      "label": "CTA Text",
      "default": "More info"
    },
    {
      "type": "url",
      "id": "return_txt_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "text",
      "id": "block_label_1",
      "label": "Label 1",
      "default": "Product Details",
      "info": "Content before --- separator from product body"
    },
    {
      "type": "text",
      "id": "block_label_2",
      "label": "Label 1",
      "default": "Size & Fit",
      "info": "Content after --- separator from product body"
    },
    {
      "type": "text",
      "id": "block_label_2a",
      "label": "Label 3",
      "default": "Product Composition",
      "info": "Content after second --- separator from product body"
    },
    {
      "type": "text",
      "id": "block_label_3",
      "label": "Label 3",
      "default": "Delivery & Returns"
    },
    {
      "type": "richtext",
      "id": "block_3_details",
      "label": "Block Details",
      "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>"
    },
    {
      "type": "header",
      "content": "Lifestyle Section"
    },
    {
      "type": "checkbox",
      "id": "show_lifestyle",
      "label": "Show lifestyle block",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "lifestyle_image",
      "label": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    },
    {
      "type": "text",
      "id": "lifestyle_cta_txt",
      "label": "CTA Text",
      "default": "Lifestyle Image Block Section"
    },
    {
      "type": "url",
      "id": "lifestyle_cta_url",
      "label": "URL"
    }
  ]
}
{% endschema %}
