<!-- <div class="content-page clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-2">
<ul class="side-nav">
<li><a href="#">Size Guide</a></li>
<li><a href="#" class="active">Contact Us</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Account</a></li>
</ul>
</div>
<div class="col-12 col-sm-12 col-md-8">
<div class="content-block d-block clearfix">
<div class="row">
<div class="col-12 col-sm-12 col-md-10 m-auto">
<h4>Page Title</h4>
<p>If you would like to get in touch with any enquiries about our products or service , or to make an appointment then please contact us by email: enquiries@suzannah.com.</p>
<p>Our team are available to be contacted by telephone during boutique opening hours on +44 (0)207 258 0782</p>
<p>Our boutique is available for walk-in customers , or for appointments. It is advisable to book an appointment as we can then prepare styles in your size that you may like to try. The appointments last an hour and are not chargable.</p>
<div class="row">
<div class="col-12 col-sm-12 col-md-6">
<p>Visit our store:<br/>
Suzannah, 3 New Quebec Street, London, W1H 7RE.</p>
</div>
<div class="col-12 col-sm-12 col-md-6">
<p>Our Atelier is situated opposite the boutique:<br/.
The Atelier, 20 New Quebec Street, London W1H 7SB.</p>
</div>
</div>
</div>
</div>
<div class="map-block"><img src="{{ 'blank-map.jpg' | asset_url }}" alt="map"></div>
<div class="row">
<div class="col-12 col-sm-12 col-md-10 m-auto">
<div class="newsleter d-block clearfix">
<h4>Newsletter Signup</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, exclusive Suzannah products, services, stores and events.</p>
<div class="newsletter-field">
<input type="email" name="text" class="form-control" placeholder="Subscribe to Newsletter">
<button type="submit" class="button"></button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="store-page d-block clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-10 col-lg-6 m-auto">
<h3>The Atelier</h3>
<p>The Atelier is located opposite the SUZANNAH boutique at no 20 New Quebec Street London. The Atelier houses the SUZANNAH couture showroom , design studio &amp; ancillary workshop.</p>
</div>
</div>
<div class="store-gallery d-block clearfix">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-6">
<div class="atelier-img"><img src="{{ 'Atelier-store.jpg' | asset_url }}" alt="Store"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-wrap">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 mt-md-4 col-lg-12 mt-lg-0 align-self-start">
 <div class="row">
  <div class="col-12 col-sm-12 col-md-6 mb-4 align-self-center">
   <h3>Optional Heading Left</h3>
   <p>SUZANNAH works with several couture milliners and British shoe designers to create the perfect outfit from head to heel.</p>
  </div>
  <div class="col-12 col-sm-12 col-md-6">
    <div class="atelier-img"><img src="{{ 'Atelier-img1.jpg' | asset_url }}" alt="Store"></div>
  </div>
 </div>
</div>
<div class="col-12 col-sm-12 col-md-12 mt-md-4 col-lg-12 mt-lg-0 align-self-end">
 <div class="row">
  <div class="col-12 col-sm-12 col-md-6 mb-4 align-self-center">
   <h3>Optional Heading Left</h3>
   <p>SUZANNAH works with several couture milliners and British shoe designers to create the perfect outfit from head to heel.</p>
  </div>
  <div class="col-12 col-sm-12 col-md-6">
    <div class="atelier-img"><img src="{{ 'Atelier-img2.jpg' | asset_url }}" alt="Store"></div>
  </div>
 </div>
</div>
</div>
</div>
</div>
<div class="row mt-4">
<div class="col-12 order-2 col-sm-12 order-sm-2 col-md-12 mt-md-4 order-md-2 col-lg-4 pl-lg-5 order-lg-1 align-self-center">
<h3>Optional Heading Left</h3>
<p>The majority of the garments from the SUZANNAH ready-to-wear collection can be made-to-measure. Please email us to enquire about a couture consultation or made to measure servicing</p>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-8">
<div class="atelier-img"><img src="{{ 'Atelier-large-img.jpg' | asset_url }}" alt="Store"></div>
</div>
</div>
</div>
</div>
</div> -->

<!-- <div class="boutique-page d-block clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-6 m-auto">
<h3>Boutiques</h3>
</div>
</div>
<div class="boutique-store-img d-block mt-3 mb-5 clearfix"><img src="{{ 'Boutiques-store.jpg' | asset_url }}" alt="Store"></div>
<div class="address-block d-block clearfix">
<div class="row">
<div class="col-12 col-sm-12 col-md-4 col-lg-3">
<p>Visit our store:<br/>
Suzannah, 3 New Quebec Street, London, W1H 7RE.</p>
<p>Our Atelier is situated opposite the boutique:<br/>
The Atelier, 20 New Quebec Street, London W1H 7SB.</p>
<a href="#" class="btn btn-border consult">Book a consultation</a>
</div>
<div class="col-12 col-sm-12 col-md-8 col-lg-8 ml-auto">
<p>The boutique is calm elegant and modern and is staffed by highly skilled professionals from the fashion industry with a wealth of knowledge about cut, cloth, make and styling.</p>
<p>If you would like to get in touch with any enquiries about our products or service , or to make an appointment then please contact us by email: enquiries@suzannah.com.</p>
<p>Our team are available to be contacted by telephone during boutique opening hours on : +44 (0)207 258 0782</p>
<p>Our boutique is available for walk-in customers , or for appointments. It is advisable to book an appointment as we can then prepare styles in your size that you may like to try. The appointments last an hour and are not chargable.</p>
</div>
</div>
</div>
<div class="local-map d-block clearfix">
<img src="{{ 'blank-map.jpg' | asset_url }}" alt="Map">
</div>
</div>
</div> -->

<!-- <div class="popup-overlay size-guide">
<a href="#" class="popup-modal-close"></a>
<div class="head-content text-center">
<h3>Measurements</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
</div>
<div class="size-detail">
<img src="{{ 'femail-img.jpg' | asset_url }}" alt="Size">
<div class="sd-content">
<p><b>Bust</b> - Measure your fullest point.</p>
<p><b>Waist</b> - Measure your narrowest point.</p>
<p><b>Lower Hip</b> - Measure your widest point approx. 20cm down from your waist.</p>
</div>
</div>
</div>-->

{% comment %}
<footer class="footer style-one">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
          <p><b>The Atelier</b> 20 New Quebec Street, London W1H 7SB.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-8 ml-auto">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <p><b>Suzannah Boutique</b> 3 New Quebec Street, London, W1H 7RE.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <p><a href="tel:0044(0)2072580782" aria-describedby="a11y-external-message">0044(0)2072580782</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-social list--inline site-footer__social-icons social-icons site-footer__icon-list social-follow popup-social">
                <li class="d-none">Follow</li>
                <li> <a href="#"><img src="{{ 'pinterest.svg' | asset_url }}" alt="pinterest"></a> </li>
                <li> <a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="facebook"></a> </li>
                <li> <a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="instagram"></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <div class="newsletter">
          <p>Share store details, promotions, or brand content with your customers.</p>
          <div class="newsletter-field">
            <form novalidate="novalidate" class="contact-form" accept-charset="UTF-8" id="ContactFooter" action="/contact#ContactFooter" method="post">
              <input type="hidden" value="customer" name="form_type">
              <input type="hidden" value="✓" name="utf8">
              <label class="visually-hidden" for="ContactFooter-email">Subscribe to our mailing list</label>
              <div class="site-footer__newsletter">
                <input type="hidden" value="newsletter" name="contact[tags]">
                <input type="email" autocapitalize="off" autocorrect="off" placeholder="Email address" value="" class="form-control" id="ContactFooter-email" name="contact[email]">
                <span class="input-group__btn">
                <button id="Subscribe" name="commit" class="button newsletter__submit" type="submit"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                </span> <span class="input-error-message" id="ContactFooter-email-error">
                <svg viewBox="0 0 14 14" class="icon icon-error" role="presentation" focusable="false" aria-hidden="true">
                  <path d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14zm-1.05-3.85A1.05 1.05 0 1 1 7 11.2a1.008 1.008 0 0 1-1.05-1.05zm.381-1.981l-.266-5.25h1.841l-.255 5.25h-1.32z"/>
                </svg>
                .</span> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 ml-auto">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/about-suzannah">About Suzannah</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/suzannah-stockists">Suzannah Stockists</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/vip-mailing-list">VIP Mailing List</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/your-account">Your Account</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/ordering-online">Ordering Online</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/returns-policy">Returns Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/contact-us">Contact Us</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/size-guide">Size Guide</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/product-care">Product Care</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/cookie-policy">Cookie Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/privacy-policy">Privacy Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/terms-and-conditions">Terms and Conditions</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <!--=====footermenuaccording=======-->

          <div class="custom-accordin">
            <div class="accordion" id="accordion">
              <div class="card mb-0">
                <div href="#collapse_0" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Information </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_0">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/about-suzannah">About Suzannah</a></li>
                    <li><a href="/pages/suzannah-stockists">Suzannah Stockists</a></li>
                    <li><a href="/pages/vip-mailing-list">Vip Mailing List</a></li>
                    <li><a href="/pages/cookie-policy">Cookie Policy</a></li>
                    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
                  </ul>
                </div>
                <div href="#collapse_1" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Customer Care </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_1">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a></li>
                    <li><a href="/pages/your-account">Your Account</a></li>
                    <li><a href="/pages/ordering-online">Ordering Online</a></li>
                    <li><a href="/pages/returns-policy">Returns Policy</a></li>
                    <li><a href="/pages/contact-us">Contact Us</a></li>
                    <li><a href="/pages/size-guide">Size Guide</a></li>
                    <li><a href="/pages/product-care">Product Care</a></li>
                  </ul>
                </div>

                <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">Information</a>
                     </div>
                     <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">About Suzannah</a></li>
                           <li><a href="#">Suzannah Stockists</a></li>
                           <li><a href="#">Vip Mailing List</a></li>
                           <li><a href="#">Cookie Policy</a></li>
                           <li><a href="#">Privacty Policy</a></li>
                           <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                     </div>
                     <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">Customer Service</a>
                     </div>
                     <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">Couture & Tailoring Services</a></li>
                           <li><a href="#">Your Account</a></li>
                           <li><a href="#">Ordering Online</a></li>
                           <li><a href="#">Returns Policy</a></li>
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Size Guide</a></li>
                           <li><a href="#">Product card-header</a></li>
                        </ul>
                     </div> -->
              </div>
            </div>
          </div>
          <!--=====footermenuaccording=======-->
          <div class="mobile-address-block clearfix">
            <p><strong>Suzannah Boutique</strong> 3 New Quebec Street, London, W1H 7RE</p>
            <p> <strong>The Atelier</strong> 20 New Quebec Street, London W1H 7RZ </p>
          </div>
          <div class="mobile-foot-bottom clearfix">
            <div class="row no-gutters">
              <div class="col-6">
                <ul class="mm-social">
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/pinterest.svg?5810027238214503900" alt="pinterest"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/facebook.svg?5810027238214503900" alt="facebook"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/instagram.svg?5810027238214503900" alt="instagram"></a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="mm-social right-link text-right">
                  <li><a aria-describedby="a11y-external-message" href="tel:(0)207 258 0782">(0)207 258 0782</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer style-two">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
          <p><b>The Atelier</b> 20 New Quebec Street, London W1H 7SB.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-8 ml-auto">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-8">
              <p><b>Suzannah Boutique</b> 3 New Quebec Street, London, W1H 7RE.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="row">
                <div class="col-12">
                  <p><a href="tel:0044(0)2072580782" aria-describedby="a11y-external-message">0044(0)2072580782</a></p>
                </div>
                <div class="col-12">
                  <ul class="foot-social list--inline site-footer__social-icons social-icons site-footer__icon-list social-follow popup-social">
                    <li class="d-none">Follow</li>
                    <li> <a href="#"><img src="{{ 'pinterest.svg' | asset_url }}" alt="pinterest"></a> </li>
                    <li> <a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="facebook"></a> </li>
                    <li> <a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="instagram"></a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <div class="newsletter">
          <p>Share store details, promotions, or brand content with your customers.</p>
          <div class="newsletter-field">
            <form novalidate="novalidate" class="contact-form" accept-charset="UTF-8" id="ContactFooter" action="/contact#ContactFooter" method="post">
              <input type="hidden" value="customer" name="form_type">
              <input type="hidden" value="✓" name="utf8">
              <label class="visually-hidden" for="ContactFooter-email">Subscribe to our mailing list</label>
              <div class="site-footer__newsletter">
                <input type="hidden" value="newsletter" name="contact[tags]">
                <input type="email" autocapitalize="off" autocorrect="off" placeholder="Email address" value="" class="form-control" id="ContactFooter-email" name="contact[email]">
                <span class="input-group__btn">
                <button id="Subscribe" name="commit" class="button newsletter__submit" type="submit"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                </span> <span class="input-error-message" id="ContactFooter-email-error">
                <svg viewBox="0 0 14 14" class="icon icon-error" role="presentation" focusable="false" aria-hidden="true">
                  <path d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14zm-1.05-3.85A1.05 1.05 0 1 1 7 11.2a1.008 1.008 0 0 1-1.05-1.05zm.381-1.981l-.266-5.25h1.841l-.255 5.25h-1.32z"/>
                </svg>
                .</span> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 ml-auto">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/about-suzannah">About Suzannah</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/suzannah-stockists">Suzannah Stockists</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/vip-mailing-list">VIP Mailing List</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/your-account">Your Account</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/ordering-online">Ordering Online</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/returns-policy">Returns Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/contact-us">Contact Us</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/size-guide">Size Guide</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/product-care">Product Care</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/cookie-policy">Cookie Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/privacy-policy">Privacy Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/terms-and-conditions">Terms and Conditions</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <!--=====footermenuaccording=======-->

          <div class="custom-accordin">
            <div class="accordion" id="accordion">
              <div class="card mb-0">
                <div href="#collapse_0" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Information </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_0">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/about-suzannah">About Suzannah</a></li>
                    <li><a href="/pages/suzannah-stockists">Suzannah Stockists</a></li>
                    <li><a href="/pages/vip-mailing-list">Vip Mailing List</a></li>
                    <li><a href="/pages/cookie-policy">Cookie Policy</a></li>
                    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
                  </ul>
                </div>
                <div href="#collapse_1" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Customer Care </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_1">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a></li>
                    <li><a href="/pages/your-account">Your Account</a></li>
                    <li><a href="/pages/ordering-online">Ordering Online</a></li>
                    <li><a href="/pages/returns-policy">Returns Policy</a></li>
                    <li><a href="/pages/contact-us">Contact Us</a></li>
                    <li><a href="/pages/size-guide">Size Guide</a></li>
                    <li><a href="/pages/product-care">Product Care</a></li>
                  </ul>
                </div>

                <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">Information</a>
                     </div>
                     <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">About Suzannah</a></li>
                           <li><a href="#">Suzannah Stockists</a></li>
                           <li><a href="#">Vip Mailing List</a></li>
                           <li><a href="#">Cookie Policy</a></li>
                           <li><a href="#">Privacty Policy</a></li>
                           <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                     </div>
                     <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">Customer Service</a>
                     </div>
                     <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">Couture & Tailoring Services</a></li>
                           <li><a href="#">Your Account</a></li>
                           <li><a href="#">Ordering Online</a></li>
                           <li><a href="#">Returns Policy</a></li>
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Size Guide</a></li>
                           <li><a href="#">Product card-header</a></li>
                        </ul>
                     </div> -->
              </div>
            </div>
          </div>
          <!--=====footermenuaccording=======-->
          <div class="mobile-address-block clearfix">
            <p><strong>Suzannah Boutique</strong> 3 New Quebec Street, London, W1H 7RE</p>
            <p> <strong>The Atelier</strong> 20 New Quebec Street, London W1H 7RZ </p>
          </div>
          <div class="mobile-foot-bottom clearfix">
            <div class="row no-gutters">
              <div class="col-6">
                <ul class="mm-social">
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/pinterest.svg?5810027238214503900" alt="pinterest"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/facebook.svg?5810027238214503900" alt="facebook"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/instagram.svg?5810027238214503900" alt="instagram"></a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="mm-social right-link text-right">
                  <li><a aria-describedby="a11y-external-message" href="tel:(0)207 258 0782">(0)207 258 0782</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer style-three">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
          <p><b>The Atelier</b> 20 New Quebec Street,<br/>
            London W1H 7SB.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-8 ml-auto">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <p><b>Suzannah Boutique</b> 3 New Quebec Street,<br/>
                London, W1H 7RE.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <p><a href="tel:0044(0)2072580782" aria-describedby="a11y-external-message">0044(0)2072580782</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-social list--inline site-footer__social-icons social-icons site-footer__icon-list social-follow popup-social">
                <li class="d-none">Follow</li>
                <li> <a href="#"><img src="{{ 'pinterest.svg' | asset_url }}" alt="pinterest"></a> </li>
                <li> <a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="facebook"></a> </li>
                <li> <a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="instagram"></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <div class="newsletter">
          <p>Share store details, promotions, or brand content with your customers.</p>
          <div class="newsletter-field">
            <form novalidate="novalidate" class="contact-form" accept-charset="UTF-8" id="ContactFooter" action="/contact#ContactFooter" method="post">
              <input type="hidden" value="customer" name="form_type">
              <input type="hidden" value="✓" name="utf8">
              <label class="visually-hidden" for="ContactFooter-email">Subscribe to our mailing list</label>
              <div class="site-footer__newsletter">
                <input type="hidden" value="newsletter" name="contact[tags]">
                <input type="email" autocapitalize="off" autocorrect="off" placeholder="Email address" value="" class="form-control" id="ContactFooter-email" name="contact[email]">
                <span class="input-group__btn">
                <button id="Subscribe" name="commit" class="button newsletter__submit" type="submit"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                </span> <span class="input-error-message" id="ContactFooter-email-error">
                <svg viewBox="0 0 14 14" class="icon icon-error" role="presentation" focusable="false" aria-hidden="true">
                  <path d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14zm-1.05-3.85A1.05 1.05 0 1 1 7 11.2a1.008 1.008 0 0 1-1.05-1.05zm.381-1.981l-.266-5.25h1.841l-.255 5.25h-1.32z"/>
                </svg>
                .</span> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 ml-auto">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/about-suzannah">About Suzannah</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/suzannah-stockists">Suzannah Stockists</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/vip-mailing-list">VIP Mailing List</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/your-account">Your Account</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/ordering-online">Ordering Online</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/returns-policy">Returns Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/contact-us">Contact Us</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/size-guide">Size Guide</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
              <li class="site-footer__linklist-item"> <a href="/pages/product-care">Product Care</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/cookie-policy">Cookie Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/privacy-policy">Privacy Policy</a> </li>
              <li class="site-footer__linklist-item"> <a href="/pages/terms-and-conditions">Terms and Conditions</a> </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <ul class="foot-link">
            </ul>
          </div>
          <!--=====footermenuaccording=======-->

          <div class="custom-accordin">
            <div class="accordion" id="accordion">
              <div class="card mb-0">
                <div href="#collapse_0" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Information </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_0">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/about-suzannah">About Suzannah</a></li>
                    <li><a href="/pages/suzannah-stockists">Suzannah Stockists</a></li>
                    <li><a href="/pages/vip-mailing-list">Vip Mailing List</a></li>
                    <li><a href="/pages/cookie-policy">Cookie Policy</a></li>
                    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
                  </ul>
                </div>
                <div href="#collapse_1" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Customer Care </a> </div>
                <div data-parent="#accordion" class="card-body collapse" id="collapse_1">
                  <ul class="foot-mobile-nav">
                    <li><a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a></li>
                    <li><a href="/pages/your-account">Your Account</a></li>
                    <li><a href="/pages/ordering-online">Ordering Online</a></li>
                    <li><a href="/pages/returns-policy">Returns Policy</a></li>
                    <li><a href="/pages/contact-us">Contact Us</a></li>
                    <li><a href="/pages/size-guide">Size Guide</a></li>
                    <li><a href="/pages/product-care">Product Care</a></li>
                  </ul>
                </div>

                <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">Information</a>
                     </div>
                     <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">About Suzannah</a></li>
                           <li><a href="#">Suzannah Stockists</a></li>
                           <li><a href="#">Vip Mailing List</a></li>
                           <li><a href="#">Cookie Policy</a></li>
                           <li><a href="#">Privacty Policy</a></li>
                           <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                     </div>
                     <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">Customer Service</a>
                     </div>
                     <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">Couture & Tailoring Services</a></li>
                           <li><a href="#">Your Account</a></li>
                           <li><a href="#">Ordering Online</a></li>
                           <li><a href="#">Returns Policy</a></li>
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Size Guide</a></li>
                           <li><a href="#">Product card-header</a></li>
                        </ul>
                     </div> -->
              </div>
            </div>
          </div>
          <!--=====footermenuaccording=======-->
          <div class="mobile-address-block clearfix">
            <p><strong>Suzannah Boutique</strong> 3 New Quebec Street, London, W1H 7RE</p>
            <p> <strong>The Atelier</strong> 20 New Quebec Street, London W1H 7RZ </p>
          </div>
          <div class="mobile-foot-bottom clearfix">
            <div class="row no-gutters">
              <div class="col-6">
                <ul class="mm-social">
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/pinterest.svg?5810027238214503900" alt="pinterest"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/facebook.svg?5810027238214503900" alt="facebook"></a></li>
                  <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/instagram.svg?5810027238214503900" alt="instagram"></a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="mm-social right-link text-right">
                  <li><a aria-describedby="a11y-external-message" href="tel:(0)207 258 0782">(0)207 258 0782</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer style-four">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3"><p><b>About Suzannah</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p></div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-8 ml-auto">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4"><p><b>The Atelier</b> 20 New Quebec Street<br/> London W1H<br/> 7RZ</p></div>
            <div class="col-12 col-sm-6 col-md-4"><p><b>Suzannah Boutique</b> 3 New Quebec Street<br/> London<br/> W1H 7RE</p></div>
            <div class="col-12 col-sm-6 col-md-4">
            <div class="row">
              <div class="col-12"><p><a href="tel:0044(0)2072580782" aria-describedby="a11y-external-message">0044(0)2072580782</a></p></div>
                  <div class="col-12"><ul class="foot-social list--inline site-footer__social-icons social-icons site-footer__icon-list social-follow popup-social">
            <li class="d-none">Follow</li><li>
              <a href="#"><img src="{{ 'pinterest.svg' | asset_url }}" alt="pinterest"></a>
            </li>
            <li>
                <a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="facebook"></a>
              </li>
              <li>
              <a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="instagram"></a>
            </li></ul></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <div class="newsletter"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, exclusive Suzannah products, services, stores and events.</p>
<div class="newsletter-field"><form novalidate="novalidate" class="contact-form" accept-charset="UTF-8" id="ContactFooter" action="/contact#ContactFooter" method="post"><input type="hidden" value="customer" name="form_type"><input type="hidden" value="✓" name="utf8">


              <label class="visually-hidden" for="ContactFooter-email">Subscribe to our mailing list</label>
              <div class="site-footer__newsletter">
                <input type="hidden" value="newsletter" name="contact[tags]">
                <input type="email" autocapitalize="off" autocorrect="off" placeholder="Email address" value="" class="form-control" id="ContactFooter-email" name="contact[email]">
                <span class="input-group__btn">
                  <button id="Subscribe" name="commit" class="button newsletter__submit" type="submit">
                    <span class="newsletter__submit-text--large">Subscribe</span>
                  </button>
                </span>
                <span class="input-error-message" id="ContactFooter-email-error"><svg viewBox="0 0 14 14" class="icon icon-error" role="presentation" focusable="false" aria-hidden="true"><path d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14zm-1.05-3.85A1.05 1.05 0 1 1 7 11.2a1.008 1.008 0 0 1-1.05-1.05zm.381-1.981l-.266-5.25h1.841l-.255 5.25h-1.32z"/></svg>  .</span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 ml-auto">
        <div class="row"><div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-link"><li class="site-footer__linklist-item">
                    <a href="/pages/about-suzannah">About Suzannah</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/suzannah-stockists">Suzannah Stockists</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/vip-mailing-list">VIP Mailing List</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/your-account">Your Account</a>
                  </li></ul>
            </div><div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-link"><li class="site-footer__linklist-item">
                    <a href="/pages/ordering-online">Ordering Online</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/returns-policy">Returns Policy</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/contact-us">Contact Us</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/size-guide">Size Guide</a>
                  </li></ul>
            </div><div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-link"><li class="site-footer__linklist-item">
                    <a href="/pages/product-care">Product Care</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/cookie-policy">Cookie Policy</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/privacy-policy">Privacy Policy</a>
                  </li><li class="site-footer__linklist-item">
                    <a href="/pages/terms-and-conditions">Terms and Conditions</a>
                  </li></ul>
            </div><div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-link"></ul>
            </div><div class="col-12 col-sm-6 col-md-4">
              <ul class="foot-link"></ul>
            </div><!--=====footermenuaccording=======-->

<div class="custom-accordin">
  <div class="accordion" id="accordion">
    <div class="card mb-0">
      <div href="#collapse_0" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Information </a> </div>
      <div data-parent="#accordion" class="card-body collapse" id="collapse_0">
        <ul class="foot-mobile-nav">
          <li><a href="/pages/about-suzannah">About Suzannah</a></li>
          <li><a href="/pages/suzannah-stockists">Suzannah Stockists</a></li>
          <li><a href="/pages/vip-mailing-list">Vip Mailing List</a></li>
          <li><a href="/pages/cookie-policy">Cookie Policy</a></li>
          <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
          <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </div>
      <div href="#collapse_1" data-toggle="collapse" class="card-header collapsed"> <a class="card-title">Customer Care </a> </div>
      <div data-parent="#accordion" class="card-body collapse" id="collapse_1">
        <ul class="foot-mobile-nav">
          <li><a href="/pages/couture-tailoring-services">Couture &amp; Tailoring Services</a></li>
          <li><a href="/pages/your-account">Your Account</a></li>
          <li><a href="/pages/ordering-online">Ordering Online</a></li>
          <li><a href="/pages/returns-policy">Returns Policy</a></li>
          <li><a href="/pages/contact-us">Contact Us</a></li>
          <li><a href="/pages/size-guide">Size Guide</a></li>
          <li><a href="/pages/product-care">Product Care</a></li>
        </ul>
      </div>

      <!-- <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">Information</a>
                     </div>
                     <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">About Suzannah</a></li>
                           <li><a href="#">Suzannah Stockists</a></li>
                           <li><a href="#">Vip Mailing List</a></li>
                           <li><a href="#">Cookie Policy</a></li>
                           <li><a href="#">Privacty Policy</a></li>
                           <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                     </div>
                     <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">Customer Service</a>
                     </div>
                     <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                        <ul class="foot-mobile-nav">
                           <li><a href="#">Couture & Tailoring Services</a></li>
                           <li><a href="#">Your Account</a></li>
                           <li><a href="#">Ordering Online</a></li>
                           <li><a href="#">Returns Policy</a></li>
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Size Guide</a></li>
                           <li><a href="#">Product card-header</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div> -->
      <!--=====footermenuaccording=======-->
      <div class="mobile-address-block clearfix">
        <p><strong>Suzannah Boutique</strong> 3 New Quebec Street, London, W1H 7RE</p>
        <p> <strong>The Atelier</strong> 20 New Quebec Street, London W1H 7RZ </p>
      </div>
      <div class="mobile-foot-bottom clearfix">
        <div class="row no-gutters">
          <div class="col-6">
            <ul class="mm-social">
              <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/pinterest.svg?5810027238214503900" alt="pinterest"></a></li>
              <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/facebook.svg?5810027238214503900" alt="facebook"></a></li>
              <li><a href="#"><img src="//cdn.shopify.com/s/files/1/0068/0873/1721/t/2/assets/instagram.svg?5810027238214503900" alt="instagram"></a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="mm-social right-link text-right">
              <li><a aria-describedby="a11y-external-message" href="tel:(0)207 258 0782">(0)207 258 0782</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</footer>
{% endcomment %}

<div class="content-page hide clearfix">
<div class="container">
<h1 class="h1">VIP Registration Form</h1>
<div class="img-container clearfix">
<img src="{{ 'dummy-img.jpg' | asset_url }}" alt="img">
</div>
<p>My Wishlist allows you to keep track of all of your favorites and shopping activity whether you're on your computer, phone, or tablet. You won't have to waste time searching all over again for that item you loved on your phone the other day - it's all here in one place!</p>
<div class="vip-form clearfix">
<div class="newsletter-field">
<input type="email" name="email" class="form-control" placeholder="Subscribe to Newsletter">
<button type="submit" class="button"></button>
</div>
<a href="#" class="btn btn-border">subscribe</a>
</div>
</div>
</div>

<div class="content-page clearfix">
<div class="container">
<h1 class="h1">Gift Card</h1>
<div class="img-container clearfix">
<img src="{{ 'dummy-img.jpg' | asset_url }}" alt="img">
</div>
<p>My Wishlist allows you to keep track of all of your favorites and shopping activity whether you're on your computer, phone, or tablet. You won't have to waste time searching all over again for that item you loved on your phone the other day - it's all here in one place!</p>
<div class="vip-form clearfix">
<select class="pretty">
  <option value="1">€20</option>
  <option value="1">€30</option>
  <option value="1">€40</option>
  <option value="1">€50</option>
</select>
<a href="#" class="btn btn-border">Add to basket</a>
<a href="#" class="whislist-link"><img src="{{ 'blank-heart.svg' | asset_url }}" alt="icon">Favourite</a>
</div>
<p>My Wishlist allows you to keep track of all of your favorites and shopping activity whether you're on your computer, phone, or tablet. You won't have to waste time searching all over again for that item you loved on your phone the other day - it's all here in one place!</p>
</div>
</div>