{% section 'request-form' %}
{%comment%}
<style type="text/css">
  label.classic-label{display: none !important;}
  h3.title{text-align: center;}
.globo-form-app .content + p {display: none;}
</style>
<div class="content-block d-block clearfix">
  <div class="request-page">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-7 m-auto">
        <div class="request-bnr-block">
          <div class="row align-items-center">
            <div class="col-12 order-2 col-sm-12 order-sm-2 col-md-5 order-md-1">
             <div class="img-block">
               <img src="{{"request-form-bnr-img.jpg" | asset_url }}" alt="img">
             </div>
            </div>
            <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-7 order-md-2">
             <div class="text-block padding-left">
               <h1>Create your own dress through online shopping</h1>
               <p>Copy explaining how it works Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="step-block">
          <div class="row center-text">
            <div class="col-12">
             <span class="sub-hd">Things to get ready before submitting</span>
             <div class="text-block">
              <h2 class="h1">Step 1.</h2>
              <p><span>First, get a pen and paper, look through our</span> <span>collections and make a note of 3 items you like</span> that would suit what you are looking for.</p>
             </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-5">
             <div class="text-block">
               <h1>Step 2.</h1>
               <p><span>Then, upload a photo of yourself,</span> <span>standing up full shot.</span>
               Please follow this example.</p>
             </div>
            </div>
            <div class="col-sm-12 col-md-7">
             <div class="img-block padding-left">
               <img src="{{"request-step2-img.jpg" | asset_url }}" alt="img">
             </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12 order-3 col-sm-12 order-sm-3 col-md-5 order-md-1">
             <div class="img-block">
               <img src="{{"request-step3-img.jpg" | asset_url }}" alt="img">
             </div>
            </div>
            <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-7 order-md-2">
             <div class="text-block padding-left">
               <h1>Step 3.</h1>
               <p><span>Finally, provide your basic measurements:</span> Bust, waist, hips, height.</p>
             </div>
            </div>
            <div class="col-12 order-2 col-sm-12 order-sm-2 col-md-8 order-md-3 col-lg-6 order-lg-3 m-auto">
              <div class="size-table clearfix">
              <table width="100%" border="0">
              <thead>
              <tr>
              <th>UK</th>
              <th>US</th>
              <th>EU</th>
              <th>Bust</th>
              <th>Waist</th>
              <th>Hip</th>
              </tr>
              </thead>
              <tbody>
              <tr>
              <td>08</td>
              <td>04</td>
              <td>36</td>
              <td>86cm</td>
              <td>66cm</td>
              <td>92cm</td>
              </tr>
              <tr>
              <td>10</td>
              <td>06</td>
              <td>38</td>
              <td>91cm</td>
              <td>71cm</td>
              <td>97cm</td>
              </tr>
              <tr>
              <td>12</td>
              <td>08</td>
              <td>40</td>
              <td>96cm</td>
              <td>76cm</td>
              <td>102cm</td>
              </tr>
              <tr>
              <td>14</td>
              <td>10</td>
              <td>42</td>
              <td>101cm</td>
              <td>81cm</td>
              <td>107cm</td>
              </tr>
              <tr>
              <td>16</td>
              <td>12</td>
              <td>44</td>
              <td>106cm</td>
              <td>86cm</td>
              <td>112cm</td>
              </tr>
              </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
        <!-- <h1 class="h4">{{ page.title }}</h1> -->
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
{%endcomment%}
